<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  
  <!-- Fine Code Coverage configuration -->
  <RunConfiguration>
    <MaxCpuCount>0</MaxCpuCount>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
    <TestSessionTimeout>0</TestSessionTimeout>
    <TreatNoTestsAsError>false</TreatNoTestsAsError>
  </RunConfiguration>

  <!-- Data collection configuration -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <!-- XPlat Code Coverage -->
      <DataCollector friendlyName="XPlat code coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.CodeCoverage.Instrumentation.XPlatCodeCoverage.DataCollector, Microsoft.CodeCoverage.Instrumentation.XPlatCodeCoverage">
        <Configuration>
          <Format>cobertura,opencover</Format>
          <Exclude>[*]*.Program,[*]*.Startup,[*.Tests*]*,[*.TestData]*</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/Migrations/**/*.cs</ExcludeByFile>
          <Include>[CarLookup.*]*</Include>
          <SkipAutoProps>true</SkipAutoProps>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>

  <!-- Test platform configuration -->
  <TestRunParameters>
    <Parameter name="webAppUrl" value="http://localhost" />
    <Parameter name="webappDefaultUrl" value="http://localhost" />
  </TestRunParameters>

  <!-- Logger configuration -->
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="console" enabled="True" />
      <Logger friendlyName="trx" enabled="True" />
      <Logger friendlyName="html" enabled="True" />
    </Loggers>
  </LoggerRunSettings>

</RunSettings>